{% extends 'padre.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Formulario para añadir calzado</h2>
    <form method="post" action="{% url 'post_calzado' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Abrir/Guardar</button>
    </form>
    <form class="my-4" method="get" action="{% url 'search_calzado' %}">
        <label for="id_modelo">Buscar por nombre:</label>
        <input type="text" id="id_modelo" name="modelo" value="{{ input }}">
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form>
</div>
<div class="container mt-4">
    <div class="row">
        {% for calzado in calzados %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ calzado.modelo }}</h5>
                    <p class="card-text">Talle: {{ calzado.talle }}</p>
                    <p class="card-text">Estado: {{ calzado.estado }}</p>
                    <p class="card-text">Precio: ${{ calzado.precio }}</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}