{% extends 'padre.html' %}

{% block content %}
<h2>Resultados de la búsqueda para "{{ input }}"</h2>

{% if result %}
<ul>
    <div class="row">
        {% for calzado in result %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ calzado.modelo }}</h5>
                    <p class="card-text">Talle: {{ calzado.talle }}</p>
                    <p class="card-text">Estado: {{ calzado.estado }}</p>
                    <p class="card-text">Precio: ${{ calzado.precio }}</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</ul>
{% else %}
<p>No se encontraron resultados para "{{ input }}"</p>
{% endif %}
{% endblock %}