{% extends 'padre.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Formulario para añadir gorras</h2>
    <form method="post" action="{% url 'post_gorras' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Abrir/Guardar</button>
    </form>
    <form class="my-4" method="get" action="{% url 'search_gorras' %}">
        <label for="id_nombre">Buscar por nombre:</label>
        <input type="text" id="id_nombre" name="nombre" value="{{ input }}">
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form>
</div>
<div class="container mt-4">
    <div class="row">
        {% for gorra in gorras %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ gorra.nombre }}</h5>
                    <p class="card-text">Color: {{ gorra.color }}</p>
                    <p class="card-text">Precio: ${{ gorra.precio }}</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}