{% extends 'padre.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="{% url 'post_remeras' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Crear articulo de una remera</button>
            </form>
        </div>
        <div class="col-md-6">
            <form class="" method="get" action="{% url 'search_remeras' %}">
                <label for="id_nombre">Buscar por nombre:</label>
                <input type="text" id="id_nombre" name="nombre" value="{{ input }}">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        {% for remera in remeras %}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ remera.nombre }}</h5>
                    <p class="card-text">Talle: {{ remera.talle }}</p>
                    <p class="card-text">Color: {{ remera.color }}</p>
                    <p class="card-text">Precio: ${{ remera.precio }}</p>
                    <div class="row">
                        <form method="post" action="{% url 'editar_remera' remera.id %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="crud btn btn-secondary my-2"> Editar</button>
                        </form>
                        <form method="post" action="{% url 'borrar_remera' remera.id %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="crud btn btn-danger my-2"> Borrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}