{% extends 'padre.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Formulario para añadir remera</h2>
    <form method="post" action="{% url 'post_remeras' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Abrir/Guardar</button>
    </form>
</div>
<div class="container mt-4">
    <div class="row">
        {% for remera in remeras %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ remera.nombre }}</h5>
                    <p class="card-text">Talle: {{ remera.talle }}</p>
                    <p class="card-text">Color: {{ remera.color }}</p>
                    <p class="card-text">Precio: ${{ remera.precio }}</p>
                    <button class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}